<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LIST APP</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Shopping List App</h2>
        <h1 class="title">LIST APP</h1>
        <p class="description">
          LIST APP is a service to list your purchases.
          <br />
          Add to your list what you want to buy.
        </p>
        <a class="index-button" href="/index">View List</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png" alt="" />
      </div>
    </div>
  </body>
</html>
